body {
    font-family: Arial, sans-serif;
    background-color: #228B22; 
    color: white; 
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #03300b; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

h1, h2 {
    text-align: center; 
}

#game {
    margin-bottom: 20px; 
}

#player-hand, #dealer-hand {
    margin: 30px 0; 
    padding: 10px;
    border: 1px solid #ecf0f1; 
    border-radius: 5px; 
}

#player-cards, #dealer-cards {
    font-size: 1.5em; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons {
    text-align: center; 
}

button {
    background-color: #27ae60; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    margin: 5px; 
}

button:disabled {
    background-color: #95a5a6; 
    cursor: not-allowed; 
}

#message {
    text-align: center; 
    font-size: 1.2em; 
    margin-top: 20px;
}

.card {
    width: 120px;
    height: 155px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#player-wins, #dealer-wins {
    position: absolute;
    right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    z-index: 10; 
}

#player-wins {
    top: 280px; 
    margin-bottom: 15px; 
}

#dealer-wins {
    top: 310px; 
}
